/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

@media (min-width: 1500px) {
    .container {
        width: 1470px;
    }
}

.container#app{
    padding-top: 15px;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar {
    background-color: #003965;
}

ul#main-menu {
    float: right;
}

ul#main-menu > li > a {
    background-color: #003965;
    color: #f5f5f5;
}

ul#main-menu > li.active > a {
    background-color: #fff;
    color: #003965;
    font-weight: bold;
}

.navbar #title {
    color: #f5f5f5;
    font-family: Helvetica, sans-serif;
}

.navbar #title > img {
    max-height: 40px;
    max-width: 40px;
    width: auto;
    height: auto;
    margin-top: -10px;
    margin-right: 5px;
    float: left;
}

.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}

span.sub-title {
    display: block;
    margin-bottom: 15px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
 * Override table hover colour
 */

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    cursor:pointer;
    background-color: #fcf8e3;
}

.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between > [class*='col-']:first-child:before {
    display: none;
}


.long-heading {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle !important;
    width: 2em;
    height: 60px;
}

.long-heading > span {
    display: block;
    -ms-transform: rotate(-70deg); /* IE 9 */
    -webkit-transform: rotate(-70deg); /* Chrome, Safari, Opera */
    transform: rotate(-70deg);
    margin-left: -6em;
    margin-right: -6em;
}


/*
 * Style Chart containers and placeholders
 */
.chart-container {
    position: relative;
    width: 100%;
    padding: 15px 15px 15px 15px;
}

.chart-controls {
    position: relative;
    width: 100%;
    padding: 15px 15px 15px 15px;
}

.input-group > .bootstrap-tagsinput {
    border-radius: 0px;
    position: relative;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.chart-controls .input-group-addon {
    padding-right: 20px;
}

div#cohort-summary {
    float: right;
}
